# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

# =================================================
# USB-connected LIS2DW / S2DW accelerometer
# =================================================

[mcu rpi]
serial: /dev/serial/by-id/usb-ACCELEROMETER-PLACEHOLDER

[lis2dw]
cs_pin: rpi:None
