# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

[mcu rpi]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450611053811C-if00


[lis2dw]
cs_pin: rpi:gpio9
spi_software_sclk_pin: rpi:gpio10
spi_software_mosi_pin: rpi:gpio11
spi_software_miso_pin: rpi:gpio8
axes_map: x,y,z


[resonance_tester]
probe_points: 140, 125, 0
accel_chip: lis2dw
accel_chip_z: lis2dw