# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

[board_pins]
aliases:

# -------------------------------
# X AXIS
# -------------------------------
  X_EN=PF14,
  X_STEP=PF13,
  X_DIR=PF12,
  X_UART=PC4,
  X_ENDSTOP=PG6,

# -------------------------------
# Y AXIS
# -------------------------------
  Y_EN=PF15,
  Y_STEP=PG0,
  Y_DIR=PG1,
  Y_UART=PD11,
  Y_ENDSTOP=PG9,

# -------------------------------
# Z AXIS
# -------------------------------
  Z_EN=PG5,
  Z_STEP=PF11,
  Z_DIR=PG3,
  Z_UART=PC6,
  Z_ENDSTOP=PG10,

# -------------------------------
# EXTRUDER
# -------------------------------
  E_EN=PA0,
  E_STEP=PG4,
  E_DIR=PC1,
  E_UART=PC7,
  E_ENDSTOP=PG11,

# -------------------------------
# EXPANSION DRIVERS
# -------------------------------
  DRIVER4_EN=PG2,
  DRIVER4_STEP=PF9,
  DRIVER4_DIR=PF10,
  DRIVER4_CS=PF2,

  DRIVER5_EN=PF1,
  DRIVER5_STEP=PC13,
  DRIVER5_DIR=PF0,
  DRIVER5_CS=PE4,

  DRIVER6_EN=PD4,
  DRIVER6_STEP=PE2,
  DRIVER6_DIR=PE3,
  DRIVER6_CS=PE1,

  DRIVER7_EN=PE0,
  DRIVER7_STEP=PE6,
  DRIVER7_DIR=PA14,
  DRIVER7_CS=PD3,

# -------------------------------
# FANS
# -------------------------------
  FAN0=PA8,
  FAN1=PE5,
  FAN2=PD12,
  FAN3=PD13,
  FAN4=PD14,
  FAN5=PD15,

# -------------------------------
# HEATERS
# -------------------------------
  E_HEATER=PA2,
  HEATER1=PA3,
  HEATER2=PB10,
  HEATER3=PB11,
  BED_HEATER=PA1,

# -------------------------------
# THERMISTORS
# -------------------------------
  TEMP0=PF3,
  TEMP1=PF4,
  TEMP2=PF5,
  TEMP3=PF6,
  TEMP4=PF7,

# -------------------------------
# ENDSTOPS
# -------------------------------
  STOP0=PG6,
  STOP1=PG9,
  STOP2=PG10,
  STOP3=PG11,
  STOP4=PG12,
  STOP5=PG13,
  STOP6=PG14,
  STOP7=PG15,

# -------------------------------
# PROBE
# -------------------------------
  PROBE_CONTROL=PB6,
  PROBE_SENSOR=PB7,

# -------------------------------
# RGB LED
# -------------------------------
  RGB_LED=PB0,

# -------------------------------
# SPI3
# -------------------------------
  SPI3_MOSI=PB5,
  SPI3_MISO=PB4,
  SPI3_SCK=PB3,
  SPI3_CS=PA15,

# -------------------------------
# I2C
# -------------------------------
  I2C_SCL=PB8,
  I2C_SDA=PB9,

# -------------------------------
# UART
# -------------------------------
  UART_RX=PD0,
  UART_TX=PD1,

# -------------------------------
# EXP1
# -------------------------------
  EXP1_1=PE8,
  EXP1_2=PE7,
  EXP1_3=PE9,
  EXP1_4=PE10,
  EXP1_5=PE12,
  EXP1_6=PE13,
  EXP1_7=PE14,
  EXP1_8=PE15,

# -------------------------------
# EXP2
# -------------------------------
  EXP2_1=PA6,
  EXP2_2=PA5,
  EXP2_3=PB1,
  EXP2_4=PA4,
  EXP2_5=PA7,
  EXP2_6=PC15,
