# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

# =================================================
# Physical button configuration
# =================================================

[gcode_button motion_mode_button]
pin: ^!MOTION_MODE_BUTTON

press_gcode:
  SET_GCODE_VARIABLE MACRO=_BUTTON_STATE VARIABLE=pressed VALUE=1
  UPDATE_DELAYED_GCODE ID=_MOTION_BUTTON_LONG_PRESS DURATION=1.2

release_gcode:
  {% if printer["gcode_macro _BUTTON_STATE"].pressed == 1 %}
    SET_GCODE_VARIABLE MACRO=_BUTTON_STATE VARIABLE=pressed VALUE=0
    TOGGLE_MOTION_MODE
  {% endif %}
