# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

[extruder]
step_pin: E_STEP
dir_pin: E_DIR
enable_pin: !E_EN

microsteps: 16
rotation_distance: 32.0   # ⚠️ TEMPORARY – must be calibrated
nozzle_diameter: 0.4
filament_diameter: 1.75

heater_pin: E_HEATER
sensor_pin: TEMP1
pullup_resistor: 4700
sensor_type: PT1000

control: watermark
min_temp: 0
max_temp: 300


[firmware_retraction]
retract_length: 0.8
retract_speed: 25
unretract_extra_length: 0
unretract_speed: 15
