# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

[heater_bed]
heater_pin: BED_HEATER
sensor_pin: BED_SENSOR
sensor_type: EPCOS 100K B57560G104F

control: watermark
min_temp: 0
max_temp: 120
