# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

[idle_timeout]
timeout: 600
gcode:
  TURN_OFF_HEATERS

  # Safe homing sequence
  G28 Z
  G28 X Y

  # Disable motors
  M84

  RUN_SHELL_COMMAND CMD=play_idle_timeout
