# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

# Audio macros will call Moonraker shell commands
# Shell commands defined in moonraker.conf only
