# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

[gcode_shell_command play_mode_silent]
command: mpg123 /home/hannott/sounds/mode_silent.mp3

[gcode_shell_command play_mode_standard]
command: mpg123 /home/hannott/sounds/mode_standard.mp3

[gcode_shell_command play_mode_fast]
command: mpg123 /home/hannott/sounds/mode_fast.mp3

[gcode_shell_command play_mode_rush]
command: mpg123 /home/hannott/sounds/mode_rush.mp3

[gcode_shell_command play_mode_overdrive]
command: mpg123 /home/hannott/sounds/mode_overdrive.mp3

[gcode_shell_command play_mode_extreme]
command: mpg123 /home/hannott/sounds/mode_extreme.mp3

[gcode_shell_command play_mode_locked]
command: mpg123 /home/hannott/sounds/mode_locked.mp3
