# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

[stepper_x]
step_pin: X_STEP
dir_pin: !X_DIR
enable_pin: !X_EN

microsteps: 16
rotation_distance: 32

endstop_pin: X_ENDSTOP
position_endstop: 0
position_min: 0
position_max: 280
homing_speed: 30


[stepper_y]
step_pin: Y_STEP
dir_pin: !Y_DIR
enable_pin: !Y_EN

microsteps: 16
rotation_distance: 32

endstop_pin: Y_ENDSTOP
position_endstop: 0
position_min: 0
position_max: 250
homing_speed: 30
