# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

# =================================================
# UI / startup behavior
# =================================================

[delayed_gcode _DEFAULT_MOTION_MODE]
initial_duration: 1.0
gcode:
  SET_SILENT_MODE

[display_status]


[delayed_gcode _MOTION_STATUS_WATCHDOG]
initial_duration: 2.0
gcode:
  _SET_MOTION_STATUS
  UPDATE_DELAYED_GCODE ID=_MOTION_STATUS_WATCHDOG DURATION=2.0
