# =================================================
# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2025 Hannott
#
# This file is part of a GPLv3-licensed project.
# See the LICENSE file in the repository root.
# =================================================

# =================================================
# Z STALL INPUT (TMC2209 DIAG)
# =================================================

[gcode_button Z_STALL]
pin: Z_DIAG
press_gcode:
release_gcode:
